In [7]:
# Dependencies
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd

In [8]:
# Read and shuffle data
housing_data = pd.read_csv("../Resources/housing_data.csv", header=None)
housing_data = housing_data.sample(frac=1).reset_index(drop=True)
housing_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.13117,0.0,8.56,0,0.520,6.127,85.2,2.1224,5,384.0,20.9,387.69,14.09,20.4
1,0.12802,0.0,8.56,0,0.520,6.474,97.1,2.4329,5,384.0,20.9,395.24,12.27,19.8
2,1.51902,0.0,19.58,1,0.605,8.375,93.9,2.1620,5,403.0,14.7,388.45,3.32,50.0
3,0.44791,0.0,6.20,1,0.507,6.726,66.5,3.6519,8,307.0,17.4,360.20,8.05,29.0
4,0.05372,0.0,13.92,0,0.437,6.549,51.0,5.9604,4,289.0,16.0,392.85,7.39,27.1

In [9]:
# Create a bunch of samples, each with div items
div = 20
lim = len(housing_data) // div
samples = [housing_data.iloc[(i * lim):(i * lim + lim), 13]
           for i in range(0, div)]