In [20]:
# Import Dependencies
import pandas as pd

In [21]:
# Create a path to the csv and read it into a Pandas DataFrame
csv_path = "../Resources/ted_talks.csv"
ted_df = pd.read_csv(csv_path)

# ted_df.head()

In [22]:
# Figure out the minimum and maximum views for a TED Talk
min = ted_df["views"].min()
max = ted_df["views"].max()
print(min, max)

50443 47227110

In [24]:
# Create bins in which to place values based upon TED Talk views
bins = [0,100000,250000,500000,1000000,5000000,50000000]
# Create labels for these bins
binlabels = ['<100K', '<250K', '<500K', '<1 Mil', '<5 Mil', '<50 Mil']

In [25]:
# Slice the data and place it into bins
sliced = pd.cut(ted_df["views"], bins, labels=binlabels)
# sliced.head()

In [26]:
# Place the data series into a new column inside of the DataFrame
ted_df["Bins"] = sliced
ted_df.head()

,comments,description,duration,event,languages,main_speaker,name,title,views,Bins
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110,<50 Mil
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520,<5 Mil
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292,<5 Mil
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550,<5 Mil
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869,<50 Mil

In [27]:
# Create a GroupBy object based upon "View Group"
group = ted_df.groupby("Bins")

# Find how many rows fall into each bin
print(group["description"].count())

# Get the average of each column within the GroupBy object
print(group.mean())

Bins
<100K         3
<250K        48
<500K       228
<1 Mil      768
<5 Mil     1404
<50 Mil      99
Name: description, dtype: int64
           comments     duration  languages         views
Bins
<100K     35.333333  1591.666667   0.000000  6.653300e+04
<250K     70.833333   835.250000   7.937500  1.851838e+05
<500K     94.442982   822.864035  21.289474  3.930312e+05
<1 Mil   118.005208   830.218750  24.733073  7.682929e+05
<5 Mil   219.678063   819.066239  29.534900  1.829735e+06
<50 Mil  650.393939   884.282828  40.252525  1.083801e+07