In [28]:
import pandas as pd

In [37]:
# Mapping lets you format an entire DataFrame
file = "../Resources/mapping_sample_data.csv"
file_df = pd.read_csv(file)
#file_df.head()

In [38]:
# Use Map to format all the columns
file_df["avg_cost"] = file_df["avg_cost"].map("${:.2f}".format)
file_df["population"] = file_df["population"].map("{:,.1f}".format)
file_df["other"] = file_df["other"].map("{:.2f}".format)
file_df.head()

   id      city avg_cost population   other
0   1  Houxiang   $55.12  609,458.0  -15.66
1   2    Leribe   $95.78  601,963.0  -23.79
2   3  Hengshan   $57.87  589,509.0    1.31
3   4    Sogcho   $59.22  948,491.0  -11.38
4   5     Kohlu   $23.09   92,206.0    7.67

In [ ]:
# Mapping has changed the datatypes of the columns to strings
file_df.dtypes