In [17]:
import pandas as pd

In [18]:
# The path to our CSV file
csvfile = "../Resources/KickstarterData.csv"

# Read our Kickstarter data into pandas
df = pd.read_csv(csvfile)
#df.head()

In [19]:
# Get a list of all of our columns for easy reference
df.columns

Index(['id', 'photo', 'name', 'blurb', 'goal', 'pledged', 'state', 'slug',
       'disable_communication', 'country', 'currency', 'currency_symbol',
       'currency_trailing_code', 'deadline', 'state_changed_at', 'created_at',
       'launched_at', 'staff_pick', 'is_starrable', 'backers_count',
       'static_usd_rate', 'usd_pledged', 'creator', 'location', 'category',
       'profile', 'spotlight', 'urls', 'source_url', 'friends', 'is_starred',
       'is_backing', 'permissions'],
      dtype='object')

In [21]:
# Extract "name", "goal", "pledged", "state", "country", "staff_pick",
# "backers_count", and "spotlight"
df2 = df[["name", "goal", "pledged", "state", "country", "staff_pick",
 "backers_count", "spotlight"]]
df2.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True
1,MR INCREDIBLE by Camilla Whitehill - VAULT Fes...,2500.0,2936.0,successful,GB,True,15,True
2,RUN,1000.0,1200.0,successful,GB,False,30,True
3,9th International Meeting of Youth Theatre sap...,2000.0,2135.0,successful,IT,False,24,True
4,Get Conti to the Ed Fringe!,1000.0,1250.0,successful,GB,False,28,True

In [24]:
# Remove projects that made no money at all
print(df2.count())
df3 = df2.loc[df2["goal"]<=df2["pledged"],:]
print(df3.count())

name             4120
goal             4120
pledged          4120
state            4120
country          4120
staff_pick       4120
backers_count    4120
spotlight        4120
dtype: int64
name             1249
goal             1249
pledged          1249
state            1249
country          1249
staff_pick       1249
backers_count    1249
spotlight        1249
dtype: int64

In [25]:
# Collect only those projects that were hosted in the US
# Create a list of the columns
cols = ["name", "goal", "pledged", "state", "country", "backers_count"]
# Create a new df for "US" with the columns above. 
df4 = df3.loc[df3["country"] == 'US', cols]
df4.head()

,name,goal,pledged,state,country,backers_count
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,17
8,Forefront Festival 2015,7200.0,7230.0,successful,US,68
11,Hamlet the Hip-Hopera,9747.0,10103.0,successful,US,132
14,Pride Con,15000.0,15110.0,successful,US,60
15,En Garde Arts Emerging Artists Festival BOSSS,10000.0,10306.0,successful,US,80

In [ ]:
# Create a new column that finds the average amount pledged to a project

In [ ]:
# First convert "average_donation", "goal", and "pledged" columns to float
# Then Format to go to two decimal places, include a dollar sign, and use comma notation

In [ ]:
# Calculate the total number of backers for all US projects

In [ ]:
# Calculate the average number of backers for all US projects

In [ ]:
# Collect only those US campaigns that have been picked as a "Staff Pick"

In [ ]:
# Group by the state of the campaigns and see if staff picks matter (Seems to matter quite a bit)